@font-face {
	font-famliy: Tahoma;
	src: url('static/fonts/Tahoma.ttf');
}

@font-face {
	font-family: Oswald;
	src: url('static/fonts/Oswald-Regular.ttf');
}

#info {
	resize: both;
	overflow: auto;
}

.container {
	position: fixed;
}

.textarea {
	display: inline-block;
	float: left;
}

.tablecanvas {
	display: inline-block;
	float: right;
	margin-left: 15px
}
